<!DOCTYPE html>
<html>
<head>
  {{! Document Settings }}
  <meta charset="utf-8" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{! Page Meta }}
  <title>{{meta_title}}</title>
  <meta name="description" content="{{meta_description}}">
  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
  {{! Styles'n'Scripts }}
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure.css">
  <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{asset "css/style-old-ie.css"}}">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="{{asset "css/style.css"}}">
  <!--<![endif]-->
  <link rel="stylesheet" href="{{asset "css/syntax/github.css"}}">
  <script src="{{asset "js/highlight.pack.js"}}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  {{ghost_head}}
</head>
<body class="{{body_class}}">

  {{! Everything else gets inserted here }}

  <div id="layout" class="pure-g">
    {{{body}}}
  </div>

  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

  {{! The main JavaScript file for Casper }}
  {{! <script type="text/javascript" src="{{asset "js/jquery.fitvids.js""></script> }}
  {{! <script type="text/javascript" src="{{asset "js/index.js""></script> }}

</body>
</html>
