{{!< default}}

{{! The big featured sidebar on the homepage, with the site logo and description }}
<div class="sidebar pure-u-1 pure-u-med-1-4">
  <div class="header">
    <hgroup>
      {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
      <h1 class="brand-title">{{@blog.title}}</h1>
      <h2 class="brand-tagline">{{@blog.description}}</h2>
    </hgroup>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#" class="pure-button">Test</a>
        </li>
        <li class="nav-item">
          <a href="#" class="pure-button">Ready</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
{{! The main content area on the homepage }}
<div class="content pure-u-1 pure-u-med-3-4">
  <div>
    {{!-- A wrapper for all the blog posts --}}
    <div class="posts">
      <h1 class="content-subhead">Recent Posts</h1>
      {{#foreach posts}}
      <section class="post {{post_class}}">
        <header class="post-header">
          <img class="post-avatar" alt="PLaceholder&#x27;s avatar" height="48" width="48" src="http://lorempixel.com/g/48/48/people/">
          <h2 class="post-title">{{{title}}}</h2>
          <p class="post-meta">
            By <a href="#" class="post-author">{{author}}</a> on <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> under {{tags}}
          </p>
        </header>
        <div class="post-description">
          <p>
            {{excerpt}}&hellip;
          </p>
        </div>
        <p class="post-meta"><a href="{{url}}">Continue Reading </a></p>

      </section>
      {{/foreach}}
    </div>
    {{pagination}}
    <div class="footer">
                <div class="pure-menu pure-menu-horizontal pure-menu-open">
                    <ul>
                        <li><a href="http://purecss.io/">About</a></li>
                        <li><a href="http://twitter.com/yuilibrary/">Twitter</a></li>
                        <li><a href="http://github.com/yui/pure/">GitHub</a></li>
                    </ul>
                </div>
            </div>
  </div>
</div>


